.notification-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}

.new-notification {
  background-color: #f5f9ff;
}

.notification-text-private-message {
  display: none;
  margin-top: 8px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notification-text-private-message.visible {
  display: block;
}
